services:
  postgres:
    image: postgres:16
    container_name: manager_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_manager
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 
      
  api:
    container_name: manager_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      # para desenvolvimento (hot reload depois)
      - .:/app
    command: npm run start:dev

volumes:
  postgres_data: